<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleProdutosQuimicos.Properties.Settings.BDProdutosQuimicosConnectionString"
            connectionString="Data Source=MATEUS_SA\SQLSERVER;Initial Catalog=BDProdutosQuimicos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ControleProdutosQuimicos.Properties.Settings.BDPQConnectionString"
            connectionString="Data Source=DESKTOP-CSEA3NQ;Initial Catalog=BDPQ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ControleProdutosQuimicos.Properties.Settings.BDServerEmpresa"
            connectionString="Data Source=MATEUS_SA\SQLEXPRESS;Initial Catalog=BDPQ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ControleProdutosQuimicos.Properties.Settings.BDPQ2021"
            connectionString="Data Source=DESKTOP-1A659SL\SQLEXPRESS;Initial Catalog=BDPQ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>